body {
  font-family: 'Manrope', serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
}
a {
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
}

/*common*/
.container {
  max-width: 1024px;
  padding: 0 0;
  margin: 0 auto;
}

/*heder*/

.page-header {
  padding: 20px 128px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: baseline;
  padding-top: 28.5px;
  padding-bottom: 28.5px;
}
.logo {
  font-weight: 700;
  font-size: 20px;
  color: #121417;
}
.header-logo {
  padding-top: 28.5px;
  padding-bottom: 28.5px;
  margin-right: 137.5px;
}
.logo-span {
  color: #4dc274;
}
.nav-logo {
  display: block;
}
.header-logo::after {
  content: '.';
  font-size: 20px;
  color: #111;
}
.nav-list {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-link {
  display: block;
  padding-bottom: 13px;
  padding-top: 13px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  color: #121417;
}
.social {
  margin-left: auto;
}

.social-list {
  display: flex;
  gap: 12px;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 44px;
  height: 44px;
}
.social-icon {
  stroke: #111;
}
/* .social-icon-facebook {
  stroke: black;
}
.social-icon-instagram {
  stroke: #111;
}
.social-icon-youtube {
  stroke: #111;
} */

/*hero*/
.hero {
  background-image: linear-gradient(
      114deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url('path_to_image'), url(../images/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1152px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  position: relative;
  margin-bottom: 90px;
}

.hero-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  color: #fff;
  width: 564px;
  padding-top: 168px;
  padding-right: 528px;

  padding-left: 60px;
  padding-bottom: 32px;
}
.button {
  border-radius: 12px;
  padding: 16px 0px;
  text-align: center;
  width: 306px;
  height: 60px;
  background-color: #4dc274;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 169px;
  margin-left: 60px;
}
.button-icon-cek {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  bottom: 36px;
  right: 36px;
}

/* reference */

.reference {
  padding-bottom: 150px;
}
.reference-title-wrapper {
  position: relative;
  margin-bottom: 64px;
}
.reference-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #121417;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 16px;
}
.title-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: rgba(18, 20, 23, 0.5);
  width: 658px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}
.reference-title-wrapper::after {
  content: ''; /* як відобразити фігуру */
  display: inline-block;
  background-color: #bee8cc;
  border-radius: 8px;
  width: 62px;
  height: 20px;
  position: absolute;
  top: 30px;
  right: 425px;
  z-index: -1;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.about-item {
  width: calc((100% - 32px) / 2);
  border-radius: 30px;
  color: #f3f5f6;
  padding-bottom: 16px;
}
.about-caption {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #4dc274;
  width: 35px;
  height: 32px;
  padding-bottom: 16px;
}
.caption-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #121417;
  width: 261px;
  height: 48px;
  padding-bottom: 32px;
}
.wrap {
  display: inline-flex;
  gap: 32px;
}
.thumb {
  width: 310px;
  height: 352px;
}
.thumb-images {
  display: block;
  object-fit: none;
  border-radius: 30px;
  background-color: #4dc274;
  padding: 70px 28px;
}

/*lessons*/
.lessons {
  padding-bottom: 150px;
}
.lessons-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #121417;
  padding-bottom: 16px;
  position: relative;
}
.lessons-title::after {
  content: ''; /* псевдоєлемент*/
  display: inline-block;
  position: absolute;
  border-radius: 8px;
  width: 144px;
  height: 20px;
  background-color: #bee8cc;
  bottom: 0;
  top: 20px;
  left: 480px;
  z-index: -1;
}
.title-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: rgba(18, 20, 23, 0.5);
  padding-bottom: 64px;
}
.lessons-list {
  display: flex;
  gap: 32px;
}
.lessons-item {
  border: 1px solid #4dc274;
  border-radius: 30px;
  width: 320px;
  height: 404px;
}
.lessons-caption {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #121417;
  padding-top: 32px;
  padding-bottom: 16px;
}
.lessons-subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 137%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #121417;
  padding-bottom: 16px;
}
.subtitle-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: rgba(18, 20, 23, 0.5);
  padding-bottom: 32px;
  padding-left: 32px;
  padding-left: 32px;
  width: 256px;
  height: 148px;
}
.button-subtitle {
  border-radius: 12px;

  width: 256px;
  height: 60px;
  background-color: #4dc274;

  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: #fff;

  margin-left: 32px;
  margin-right: 32px;
}

/*motivation*/

.motivation {
  background-image: linear-gradient(80deg, #4dc274 0%, #bee8cc 100%);
  border-radius: 30px;
  max-width: 1152px;
  min-height: 950px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
.motivation-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 117%;
  color: #fff;
  width: 776px;
  height: 140px;
  padding-bottom: 72px;
  padding-top: 64px;
}

/*контейнер з картками*/
.cards-inner {
  display: flex;
  position: relative;
  left: 50px;
  top: 50px;
  padding: 27px 34px 70px 14px;
}
.motivation-cards-center {
  position: absolute;
  background-color: #d4fde1;
  z-index: 2;
  transform: rotate(-8deg);
  left: -75px;
  border-radius: 30px;
  width: 1049px;
  height: 462px;
}
.motivation-cards-top {
  position: absolute;
  background-color: #fff;
  z-index: 3;
  right: 50px;
  border-radius: 30px;
  width: 1023px;
  height: 470px;
}
.motivation-cards-botton {
  position: absolute;
  z-index: 1;
  background: rgba(255, 255, 255, 0.5);
  width: 1010px;
  height: 401px;
  transform: rotate(4deg);
  border-radius: 30px;
  left: -25px;
}
/*кінець контейнера з картками*/
.wrapper-motivation {
  position: relative;
  padding-top: 40px;
}
.motivation-caption {
  width: 307px;
  height: 48px;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #000;
  padding-bottom: 40px;
  position: absolute;
  z-index: 4;
  left: 60px;
}
.caption-list {
  position: absolute;
  z-index: 4;
  padding-left: 60px;
  top: 150px;
}
.caption-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
}

.caption-text-one {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #000;
  width: 610px;
  height: 24px;
}
.caption-text-two {
  width: 580px;
  height: 47px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #000;
}
.caption-text-three {
  width: 623px;
  height: 47px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #000;
}
.motivation-btn {
  position: absolute;
  z-index: 4;
  top: 350px;
  border-radius: 12px;
  padding: 16px 64px;
  width: 306px;
  height: 60px;
  background-color: #4dc274;
  color: #fff;
  left: 60px;
}
.books-img {
  position: absolute;
  z-index: 4;
  width: 214px;
  height: 263px;
  padding-top: 110px;
  right: -80px;
}
/* teachers*/
.teachers {
  padding-bottom: 75px;
}

.teachers-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #121417;
  width: 832px;
  height: 48px;
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}
.teachers-title-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  text-align: center;
  color: rgba(18, 20, 23, 0.5);
  width: 709px;
  height: 60px;
  padding-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}
.teachers-list {
  display: flex;
  gap: 32px;
}
.teachers-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teachers-img {
  border-radius: 500px;
  width: 150px;
  height: 150px;
  background-image: #d4b2af, url(../images/maria.jpg;);
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teachers-subject {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #121417;
  width: 53px;
  height: 24px;
}
.subject-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: rgba(18, 20, 23, 0.5);
  width: 232px;
  height: 123px;
}
/* application*/
.application {
  padding-top: 75px;
  padding-bottom: 75px;
}
.application-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.application-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #121417;
  padding-bottom: 16px;
  width: 832px;
  min-height: 48px;
}
.application-title-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  text-align: center;
  color: rgba(18, 20, 23, 0.5);
  margin-bottom: 64px;
  width: 709px;
  min-height: 60px;
}
.application-wrap {
  display: flex;
  gap: 32px;
}
.application-col {
  background-color: #4dc274;
  border-radius: 30px;
}

.application-img {
  display: block;
  width: 492px;
  height: 392px;
  border-radius: 30px;
  fill: #4dc274;
}
/* .application-img::after {
  display: inline-block;
  content: '';
  width: 492px;
  height: 392px;
  background-color: #4dc274;
  position: absolute;
  bottom: 20px;

  left: -20px;
  z-index: 1;
} */

.application-icon {
}
.images-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  padding-bottom: 8px;
  padding-top: 20px;
}

.images-text {
  max-width: 452px;
  min-height: 70px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.application-colomn {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  align-items: center;
}
.application-form {
}
.application-input {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 439px 16px 18px;
  width: 500px;
  height: 56px;
  padding: 10px 10px;
  margin-bottom: 18px;
}
::placeholder {
  color: #121417;
}
.application-taxtarea {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 353px 64px 18px;
  width: 500px;
  height: 104px;
  padding: 10px 10px;
  margin-bottom: 32px;
}
.radio-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #121417;
  padding-bottom: 16px;
}
.grup {
  margin-bottom: 32px;
}

.button-radio {
  width: 76px;
  height: 23px;
}
.user-button {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #121417;
  padding-left: 8px;
  padding-right: 16px;
}
.form-btn-wrapper {
  display: flex;
  flex-direction: column;
}
.btn {
  border-radius: 12px;
  padding: 16px 228px;
  width: 500px;
  height: 60px;
  background-color: #4dc274;
  color: #fff;
  margin-bottom: 16px;
}
.policy {
  width: 500px;
  height: 48px;
}
/*  stydents stories*/
.stydents {
  padding-top: 75px;
  padding-bottom: 75px;
}

.wrap-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
  position: relative;
}
.stories-title::after {
  display: inline-block;
  content: '';
  border-radius: 8px;
  width: 169px;
  height: 20px;
  background-color: #bee8cc;
  position: absolute;
  top: 30px;
  right: 372px;
  z-index: -1;
}
.stories-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #121417;
  width: 842px;
  height: 46px;
  padding-bottom: 16px;
}
.stories-title-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  text-align: center;
  color: rgba(18, 20, 23, 0.5);
  width: 647px;
  height: 60px;
}
.stydent-list {
  display: flex;
  gap: 32px;
}
.stydent-item {
  border-radius: 30px;
  width: 320px;
  height: 326px;
  background-color: #f3f5f6;
}
.student-inner {
  border-radius: 15px;
  width: 288px;
  height: 78px;
  background-color: #4dc274;
  display: flex;
  align-items: center;
  padding-left: 32px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 32px;
  margin-top: 32px;
}
.stydent-images {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.subject-col {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.subtitle-stydent {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #fff;
}
.subtitle-stydent-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.5);
}
.stydent-images-text {
  width: 266px;
  height: 144px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(18, 20, 23, 0.5);
  padding-left: 32px;
  padding-right: 32px;
}
/* footer*/
.footer {
  padding-top: 75px;
}
